doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='Evan Pedrick')
		
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300', rel='stylesheet', type='text/css')
		link(href='assets/css/main.css', rel='stylesheet', type='text/css')
		link(href='assets/css/font-awesome.css', rel='stylesheet', type='text/css')
		//link(href='assets/css/materialize.css', rel='stylesheet', type='text/css')

	mixin work-img(link, img)
		a(href="#{link}").portfolio-image-link
			img(src="/assets/img/#{img}")
			
	mixin nav-content()
		ul
			li: a(href="#home") Home
			li: a(href="#about") Design
			li: a(href="#skills") Coding
			li: a(href="#work") Recent Work
			li: a(href="#contact") Contact
			li: a(href="about-me.html") About Me
			li: a(href="m2.html") Portfolio
	
	body
		.nav
			.hamburger-menu
				.bar
			.overlay
				.overlay-text
					+nav-content()

		.header#home
			video(poster='', autoplay='true', loop='')
				source(src='/assets/keyboard.mp4', type='video/mp4')
				source(src='/assets/keyboard.webm', type='video/webm')
			.text
		
		section.responsive.flex#about
			.center-box.flex
				.text-box
					h2 Clean/Responsive Designs
					p I design to solve problems. The goal is to relay the message in the most clear, intuitive, and aesthetically pleasing way possible. If that message isn't conveyed properly on all devices then what's the point?
				.right-side

		section.blue
			svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50', preserveaspectratio='none')
				polygon(points='-85,25 50,50 50,0', fill='#00B2E2')
			
			.blue-content#skills
				h2 < CODING >
				p Taking that message from paper to pixels is the fun part.  My front-end build process involves the use of Sass and Jade to speed up the development process. Git enables me to keep the edge in the age-old war with organization.
				.list-box
					//.flex-1
						ul
							li Front End Development
							li HTML / Jade
							li CSS / SASS
							li Java / Jquery
							li Github
						
					//.flex-1
						ul
							li Front End Development
							li HTML Newsletters
							li Weebly
							li Bootstrap
							li Wordpress
							Li Squarespace
			.big-text
				h1.giant CODING

				img(src='/assets/img/jadetop.png')				
			
		section.explore#work
			.text-box
				h2 < / RECENT-PROJECTS >
			.work-container
				.work-images
					a(href='m2.html')
						img(src='/assets/img/m2-work.jpg', alt='')
				.work-images
					a(href='tormenta.html')
						img(src='/assets/img/tormenta-work.jpg', alt='')
				.work-images
					a(href='csa.html')
						img(src='/assets/img/csa-work.jpg', alt='')
			.work-container
				.work-images
					img(src='/assets/img/tormenta-work.jpg', alt='')
				.work-images
					img(src='/assets/img/csa-work.jpg', alt='')
				.work-images
					img(src='/assets/img/m2-work.jpg', alt='')
				

		//.pop-overlay.red
			.description
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
			.card-container
				.card.flex-1
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='/assets/img/logo-m2.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Logo Creation
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| UI Design
							i.material-icons.right close
						p
							| Here is some more information about this product that is only revealed once clicked on.
				.card.flex-1
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='/assets/img/m2-website.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| UI Design
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Card Title
							i.material-icons.right close
						p
							| Here is some more information about this product that is only revealed once clicked on.
				.card.flex-1
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='/assets/img/csa-mock.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Finished Project
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Card Title
							i.material-icons.right close
						p
							| Here is some more information about this product that is only revealed once clicked on.

				
		section.sides.flex#contact
			.right-half.flex
				.top.flex-3
					h2 Contact Me
					.inner
						form(action='MAILTO:eped22@gmail.com', method='post', enctype='text/plain')
							.input-group.flex
								input(type="text" placeholder="First")
								input(type="text" placeholder="Last")
							.input-group.flex
								input(type="text" placeholder="Message")
								
				.bottom.flex.flex-1
					a(href="https://www.linkedin.com/in/evan-pedrick-241833a0" target="_blank").side-left.flex-1.flex
						.img-wrapper
					a(href="https://github.com/eped22" target="_blank").side-center.flex-1
						.img-wrapper
					a(href="https://www.behance.net/evanp" target="_blank").side-right.flex-1
						.img-wrapper
					
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

		script(type='text/javascript', src='/assets/js/functions.js')
		script(type='text/javascript', src='/assets/js/materialize.min.js')
