doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0')
		meta(name='description', content='Evan Pedrick is a Front-end Developer. He specializes in responsive web design and unique, immersive user experience.')
		meta(name='keywords', content='HTML,CSS,XML,JavaScript,jQuery,PHP,SQL,Front-end,Web,Development,Design,Portfolio')
		meta(name='author', content='Evan Pedrick')

		link(href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300', rel='stylesheet', type='text/css')
		link(href='assets/css/main.css', rel='stylesheet', type='text/css')
		link(href='assets/css/font-awesome.css', rel='stylesheet', type='text/css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-75434070-1', 'auto');
			ga('send', 'pageview');

	mixin nav-content()
		ul
			li: a(href="index.html#home") Home
			li: a(href="index.html#about") Design
			li: a(href="index.html#skills") Coding
			li: a(href="index.html#work") Recent Work
			li: a(href="index.html#contact") Contact
			li: a(href="about-me.html") About Me

	body
		.nav
			.hamburger-menu
				.bar
			.overlay
				.overlay-text
					+nav-content()
					
		section.top.tormenta
			.mock-up
		
		.description
			.text
				h1.portfolio Tormenta FC
				p The South Georgia Tormenta FC is a new team in the Premier Development League (PDL) of the United Soccer Leagues (USL).  The 2016 PDL season will mark the first year of competition for Tormenta FC.  Entering their inaugural season the team is looking to build a committed fan-base.  
		
		section.explore.portfolio
			.title
				h2.under 1.
				h2.left Print Material
			.work-container
				.work-images.big
					img(src='/assets/img/tormenta-camp.jpg', alt='')
			.title
				h2.under 2.
				h2.left Digital Material
			.work-container
				.work-images.big
					img(src='/assets/img/tormenta-phone.jpg', alt='')
			//.work-container
				.work-images
					img(src='/assets/img/m2-mockup.jpg', alt='')
			//.work-container
				.work-images
					img(src='/assets/img/tormenta-work.jpg', alt='')
					
		section.explore.bottom
			.text-box
				h2 < / RECENT-PROJECTS >
			.work-container
				.work-images
					a(href='M2.html')
						img(src='/assets/img/m2-work1.jpg', alt='')
				.work-images
					a(href='tormenta.html')
						img(src='/assets/img/tormenta-work.jpg', alt='')
				.work-images
					a(href='csa.html')
						img(src='/assets/img/csa-work.jpg', alt='')
					
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

	script(type='text/javascript', src='/assets/js/functions.js')
	script(type='text/javascript', src='/assets/js/materialize.min.js')
