section.top.csa
	background: lightgray
	display: flex

	.top-img
		flex: 1
		margin-left: 8vw
		margin-right: 8vw
		margin-top: 10vh
		background:
			image: url(/assets/img/csahtml.png)
			size: contain
			repeat: no-repeat
			position: bottom
