section.top.tormenta
	height: 75vh
	background:
		image: url(/assets/img/tormenta-print.jpg)
		size: cover
		repeat: no-repeat
		position: center center


@media (max-width: 550px)
	section.top.tormenta
		background:
			size: contain
