section.about-header
	height: 100vh

	h1
		font-size: 45px
		font-weight: 300
		color: black
		line-height: .5em
		padding: 0

	h2
		color: black

	h3
		color: #222222
		display: inline

	.top
		display: flex
		flex-direction: row

		.left-side
			background: white

			.evan
				margin-top: 18vh
				text-align: center

				.image-contain
					width: 30%

		.right-side
			background: white

			.text
				margin-top: 20vh
				margin-left: 1vw
				margin-right: 15vw

	.middle
		text-align: center
		margin: 10vh 10vw 0 10vw

		.skills
			display: flex
			flex-direction: row
			padding: 0
			margin: 0

@media (max-width: 900px)
	section.about-header
		.middle
			margin: 5vh 8vw 0 8vw
			.skills

@media (max-width: 652px)
	section.about-header
		.top
			flex-direction: column

			.right-side

				.text
					margin-top: 8vh
					margin-left: 8vw
					margin-right: 8vw
					text-align: center


		.middle
			.skills
				flex-direction: column
