.header
	background: $primary-color
	height: 100vh
	padding: 0
	position: relative
	overflow: hidden

	video
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1
		min-width: 100%
		min-height: 100%
		width: auto
		background: transparent

	.text
		z-index: 2
		position: absolute
		background:
			image: url(../img/header-cut.svg)
			size: cover
			position: center top
			repeat: no-repeat
		top: 0
		bottom: 0
		left: 0
		right: 0
		text-align: center
		//-webkit-filter: drop-shadow(12px 12px 5px rgba(0,0,0,0.5));
    //filter: drop-shadow(12px 12px 5px rgba(0,0,0,0.5));

@media (max-width: 550px)
	.header

		video
			display: none

		.text
			background:
				image: url(../img/header-cut-sm.svg)

//@media (max-width: 350px)
	.header
		background:
			size: contain
			height: 100%
			position: center center
		border-top: 50px solid white
