section.sides
  height: 100vh
  flex-direction: row
  margin-top: -7px
  overflow: hidden


  .left-half
    flex: 1
    flex-direction: column
    justify-content: center
    text-align: center
    padding-left: 5%
    padding-right: 5%
    background:
      image: url(/assets/img/contact.jpg)
      size: cover
      repeat: no-repeat

  .input-group
    display: flex
    flex-direction: row
    justify-content: center

    input
    	height: 40px
    	padding: 0
    	font-size: 30px
    	font-weight: 200
    	color: black
    	background: rgba(0,178,226,.6)
    	border: 1px solid rgba(0,178,226,.9)
    	@include box_shadow(3)


  h3
    font-size: 22px

  p
    margin-left: 5%
    margin-right: 5%
    color: black

  .profile
    border-radius: 50%
    width: 20%
    margin-top: 2%

  .right-half
    flex: 1
    flex-direction: column
    @include box_shadow(4)

    .top
      background: white
      text-align: center
      font-family: roboto
      padding-top: 5%

      .contact-info
        display: flex
        flex-direction: row
        font-family: roboto
        font-size: 25px
        padding-top: 10px
        padding-left: 10%
        line-height: 0

        i
          padding-right: 1%
          color: #444444
        p
          font-size: 30px
          display: inline
          padding-left: 10%

    .bottom
      display: flex
      flex-direction: row
      min-height: 60px

    .side-left
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/linkedin-logo.png), url(/assets/img/linkedin-back.jpg)
        position: center, center
        size: 35%, cover
        repeat: no-repeat, no-repeat


    .side-center
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/hub.png), url(/assets/img/github.jpg)
        position: center, center
        size: 35%, cover
        repeat: no-repeat, no-repeat

    .side-right
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/behance-logo-white.png), url(/assets/img/behance.png)
        position: center, center
        size: 40%, cover
        repeat: no-repeat, no-repeat

    h2
      font-size: 100px
      line-height: .8em
      padding: 0
      margin: 0

    a
      width: 100%
      padding: 0
      margin: 0

@media (max-width: 780px)
  section.sides
    height: auto
    flex-direction: column

@media (max-width: 420px)
  section.sides

    .right-half
      h2
        font-size: 50px
