section.responsive
	height: 150vh
	align-items: center
	justify-content: center
	background:
		image: url(/assets/img/wireframe.jpg)
		size: cover
		repeat: no-repeat

.center-box
	flex-direction: row
	max-width: 60%
	min-width: 50%
	min-height: 45vh
	max-height: 70%
	background: white
	border-radius: 2px
	font-size: 17px

	&.growUp
		animation-name: growUp
		-webkit-animation-duration: 2s
		animation-duration: 2s
		-webkit-animation-fill-mode: both
		animation-fill-mode: both
		opacity: 1

	.text-box
		width: 50%
		color: black

		&.fadeInLeftBig
			animation-name: fadeInLeftBig
			-webkit-animation-duration: 2.5s
			animation-duration: 2.5s
			-webkit-animation-fill-mode: both
			animation-fill-mode: both
			opacity: 1

	.right-side
		width: 50%
		margin-top: -5%
		margin-bottom: -5%
		padding: 0
		background:
			image: url(../img/blue-phone.png)
			size: contain
			position: center
			repeat: no-repeat

		&.fadeInRightBig
			animation-name: fadeInRightBig
			-webkit-animation-duration: 2.5s
			animation-duration: 2.5s
			-webkit-animation-fill-mode: both
			animation-fill-mode: both
			opacity: 1

	h2
		padding-left: 5%
		padding-bottom: 0
		margin-bottom: 0
	p
		margin-left: 2vw
		padding-top: 1.5vh
		margin-top: 0
		font-size: 1.1em

	img
		width: 100%

@media (max-width: 800px)
	section.responsive

		.center-box
			max-width: 80%
			min-height: 35vh

		h2
			font-size: 20px
		p
			padding-top: 20px
			margin-left: 20px
			font-size: 12px

		img
			width: 80%
			margin-left: 10%

@media (max-width: 420px)
	section.responsive
		height: 150vh

		.center-box
			max-width: 90vw
			max-height: 80%
			min-height: 32vh

		h2
			font-size: 18px
			margin-left: 15px
			text-align: center
		p
			padding-top: 10px
			margin-left: 15px
			font-size: 12px
			text-align: justify

		img
			width: 90%
			margin-left: 5%

@media (max-width: 320px)
	section.responsive

		.center-box
			max-width: 90vw

		h2
			font-size: 14px
			padding-top: 18px
			padding-left: 10px

		p
			font-size: 10px
			padding-top: 14px

		img
			margin-left: 5%
