section.explore
	min-height: 100vh
	padding-top: 20vh
	margin-bottom: 10vh
	background: white
		//image: url(/assets/img/pens.png)
		size: cover
		repeat: no-repeat
	color: black
	text-align: center

	.text-box
		padding-bottom: 1%

	.work-container
		display: flex
		padding: 8vh
		padding-top: 0
		padding-bottom: 0

		.work-images
			flex: auto
			width: 200px
			margin: .5vw
			//padding-bottom: 20vh

			img
				width: 100%
				height: auto
				@include box_shadow (1)

	h1
		font-family: 'Roboto Slab'
		font-size: 95px
		font-weight: 100
		line-height: .5em

	h2
		font-family: 'Roboto'
		font-size: 35px
		line-height: .8em
		font-weight: 900

	h2.under
		display: inline
		border-bottom: 2px solid black

	h2.left
		font-family: 'Roboto Slab'
		font-size: 50px
		font-weight: 300

	h3
		padding-bottom: 0
		margin-bottom: 0
		font-size: 22px


	p
		padding-left: 1.1vw
		margin: 0
		font-size: 18px

@media (max-width: 800px)
	section.explore
		height: auto
		padding-top: 10vh

		h2
			font-size: 25px

		.text-box
			padding-bottom: 3%

		.img-container
			height: 100%

		.work-container
			flex-direction: column
			padding: 0
			justify-content: center

			.work-images
				width: 100%
				margin-left: 0
				margin-right: 0
