section.sides
  height: 100vh
  flex-direction: row
  margin-top: -7px
  overflow: hidden


  h2
    font-size: 75px
    line-height: .8em
    padding-bottom: 3vh
    margin: 0
    color: rgba(#676767, .9)

  h3
    font-size: 22px
    color: black

  p
    margin-left: 5%
    margin-right: 5%
    padding-bottom: 10%
    color: rgba(black, .9)

  .input-group
    display: flex
    position: relative
    flex-direction: row
    justify-content: center
    padding-top: 10px

    .group
      width: 100%
      padding: 0
      margin: 0

    input
    	height: 8vh
    	padding: 0
    	font-size: 25px
    	font-weight: 300
    	color: black
    	display: block
    	background: rgba(white,.2)
    	border: none
    	border-bottom: solid 2px $primary-color
    	//@include box_shadow(3)

    input
      width: 90%
      margin: 1vw

      &[type="text"]
        //flex: 1
        white-space: normal

    input.large
      height: 40vh

      &[type="text"]
        //flex: 1
        white-space: pre-wrap

    input::-webkit-input-placeholder
      font-family: 'roboto'
      font-weight: 300

    textarea
      width: 100%
      margin: 1vw
      font-size: 25px
      font-weight: 300
      color: black
      background: rgba(white,.2)
      border: none
      border-bottom: solid 2px $primary-color

    ::-webkit-textarea-placeholder
      font-family: 'roboto'
      font-weight: 300

    label
      position: absolute
      display: inline
      top: -5%
      left: 0


  .right-half
    flex: 1
    flex-direction: column

    .top
      background:
        image: url(/assets/img/contact.jpg)
        size: cover
        repeat: no-repeat
      text-align: center
      font-family: roboto
      padding-top: 5vh

      .inner
        text-align: center
        padding-left: 20vw
        padding-right: 20vw

    .bottom
      display: flex
      flex-direction: row
      min-height: 60px
      max-height: 150px

    .side-left
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/linkedin-logo.png), url(/assets/img/linkedin-back.jpg)
        position: center, center
        size: 17%, cover
        repeat: no-repeat, no-repeat


    .side-center
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/hub.png), url(/assets/img/github.jpg)
        position: center, center
        size: 17%, cover
        repeat: no-repeat, no-repeat

    .side-right
      align-items: center
      justify-content: center
      background:
        image:  url(/assets/img/behance-logo-white.png), url(/assets/img/behance.png)
        position: center, center
        size: 22%, cover
        repeat: no-repeat, no-repeat

    a
      width: 100%
      padding: 0
      margin: 0

@media (max-width: 780px)
  section.sides
    height: 90vh
    flex-direction: column

@media (max-width: 520px)
	section.sides
		.right-half
			h2
				font-size: 50px
			.top
				.inner
					padding-left: 10vw
					padding-right: 10vw

		.input-group

			input
				height: 6vh
				min-height: 30px
